* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    color: #fff;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
}

.display { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    width: 300px;
    margin: 15px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
}

.calculator-grid {
    height: 300px;
    width: 300px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button {
    font-size: 1.5rem;
    background-color: #bbb;
    border-radius: 5px;
    border: 1px solid #333;
}

div {
    font-size: 1.5rem;
}